@charset "UTF-8";
#btnMenu {
    display: none;
}

/* MENU */
@media (width < 829px) {
    .cabecalho__listaLinks {
        display: none;
    }
}

/* PAGINA 1 */
@media (width < 1125px) {
    .conteudo {
        padding: 2rem;
        padding-top: 4rem;
    }

    .conteudo__imagens-informacoes {
        justify-content: center;
        flex-direction: column;
    }

    .conteudo__conteudoSlide p {
        margin: 0;
    }

    .conteudo__botoesSlide button {
        top: 21rem;
    }
}

@media (width < 599px) {

    .secaoIntroducao {
        padding: 3rem 3rem 3rem 1.5rem;
    }

    .cabecalho__imgBox img {
        width: 6rem
    }

    .conteudo {
        padding: 1rem;
        padding-top: 4rem;
    }

    .conteudo .container {
        padding: 0 1rem;
        position: relative;
    }

    .conteudo__imagensSlide img {
        border-radius: 10px;
        margin: auto;
        display: block;
        max-width: 17rem;
    }

    .secaoOdsMetas__descricaoItem h2::after {
        display: none;
    }
    
}

/* PAGINA 2 */
@media (width < 1300px) {
    
    .secaoOdsMetas__descricaoItem {
        max-width: 30rem;
    }

    .conteudo__conteudoSlide h2::after, .conteudo__ProdutosAcoes h2::after, .conteudo__secaoImpactosResultados h2::after {
        display: none;
    }

}

@media (width < 1000px) {

    .secaoOdsMetas__item {
        flex-direction: column;
        text-align: center;
    }

    .secaoOdsMetas__descricaoItem {
        max-width: 36rem;
        margin: auto;
    }

    .secaoOdsMetas__descricaoItem a, .contuedo__itemProdutoAcao a {
        margin: auto;
        margin-top: 3rem;
    }

}

/* PÃGINA 3 */

@media (width < 1400px) {
    .conteudo__listaProdutosAcoes {
        flex-wrap: wrap;
        justify-content: center;
    ;
    }
}

@media (width < 1000px) {
    .conteudo__listaProdutosAcoes {
        flex-direction: column;
    }
    .contuedo__itemProdutoAcao {
        margin: auto;   
    }

}
@media (width < 550px) {
    .contuedo__itemProdutoAcao img {
        width: 100%;
        max-width: 23rem;
    }
}

/* PAGINA 4 */

@media (width < 825px) {
    .conteudo__secaoImpactosResultados img {
        width: 100%;
    }
}